@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@900&display=swap');

body {
    background-color: gray; /* fallback */
    background-image: url('https://images.unsplash.com/photo-1534453981081-612615621db2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1400&q=80');
    background-position: center right;
    background-attachment: fixed;

    color: rgb(32, 32, 32);
    font-family: 'Noto Sans', sans-serif;
}

#box-container {
    display: flex;
    padding: 10%;
}

.content-box {
    padding: 40px 20px 60px 20px;
    margin: 15px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow:rgba(32, 32, 32, 0.568) 2px 2px 5px;
}

.content-box:hover {
    background-color: rgba(255, 255, 255, 0.9);
}

#box1 {
    padding: 40px 30px 60px 30px;
}

h1 {
    font-size: 3em;
    font-family: 'Arima Madurai';
    padding-bottom: 15px;
    border-bottom: 3px solid rgb(32, 32, 32);
}

h2 {
    text-align: center;
}

.emphasis {
    background-color: rgba(224, 101, 183, 0.24);
}

li {
    margin-bottom: 20px;
    list-style-type: square;
}

a {
    text-decoration: none;
    color:rgb(36, 28, 71);
}

a:hover {
    background-color:rgb(36, 28, 71);
    color: white;
}

#social-links li {
    list-style-type: circle;
}

#credit {
    font-size: 2em;
    color: white;
    text-align: center;
    margin-bottom: 150px;
    font-weight: bold;
    text-shadow:rgba(32, 32, 32, 0.726) 1px 1px 5px;
}

#credit a {
    color:rgb(184, 170, 247);
}